<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.CommonFeature.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.CommonFeature.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsListController</servlet-name>
        <servlet-class>Controller.admin.settingslist.SettingsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailController</servlet-name>
        <servlet-class>Controller.CommonFeature.SendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusDBContext</servlet-name>
        <servlet-class>Controller.admin.settingslist.ChangeStatusDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>Controller.admin.settingslist.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingsController</servlet-name>
        <servlet-class>Controller.admin.settingslist.AddSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.CommonFeature.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderController</servlet-name>
        <servlet-class>Controller.admin.slider.SliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>Controller.admin.slider.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderController</servlet-name>
        <servlet-class>Controller.admin.slider.EditSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.PublicFeature.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.PublicFeature.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogController</servlet-name>
        <servlet-class>Controller.PublicFeature.SearchBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>Controller.CommonFeature.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>Controller.admin.CourseSubject.ChangeSubjectStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangCourseSubjectStatus</servlet-name>
        <servlet-class>Controller.admin.Subject.ChangCourseSubjectStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.admin.user.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>Controller.admin.user.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>Controller.admin.user.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>Controller.admin.user.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarController</servlet-name>
        <servlet-class>Controller.admin.user.AvatarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsListController</servlet-name>
        <url-pattern>/admin/settingslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusDBContext</servlet-name>
        <url-pattern>/admin/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/admin/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingsController</servlet-name>
        <url-pattern>/admin/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/client/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderController</servlet-name>
        <url-pattern>/admin/slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/admin/add-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderController</servlet-name>
        <url-pattern>/admin/edit-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogController</servlet-name>
        <url-pattern>/searchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/admin/changestatusSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangCourseSubjectStatus</servlet-name>
        <url-pattern>/admin/changesoursestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/admin/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/admin/search-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/admin/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarController</servlet-name>
        <url-pattern>/admin/user-avatar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
